1. 中文宋体 / 英文 Times New Roman
2. 正文小四  
3. 表格、代码五号  
4. 页边距窄 
5. 表格适应窗口 
6. 行距 1.5  
7. 页码底部居中，五号字体
8. 插图用地址代替
9. 自动生成目录
10. 标题可以显示在目录上
11. 表格和图片前后需要有 0.5 行间隔
12. 图及图名称需要居中
13. 链接格式，要从 []() 改成 word 中的超链接，例如： [Figure 官方复盘](https://www.figure.ai/news/production-at-bmw) 改成在文字 "Figure 官方复盘" 上的超链接
14. 插入超链接的文字颜色为 RGB(0,102,204)，字体中文为：宋体 英文为 times new roman 并且字号要和原来插入链接之前一致
15. 所用全部图片都要序号，比如：assets/openvla_card.png 改成 assets/1.openvla_card.png 就是前面加上 1. 2. 3. 等; 所用图片放在同级 assets 目录下